{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd",
            "style": true
          }
        ]
      ]
    }
  }
}
